
:root
{
    --main-color: teal;
    --main-accent-color: lightgrey;
}

body
{
    background-color: lightsteelblue;
    font-family: Tahoma, Geneva, sans-serif;
    border: thin solid var(--main-color);
    max-width: 75%;
    line-height: 1em;
    padding: 1%;
    margin: auto;
}

.activePage
{
    background-color: white;
}

nav
{
    text-align: center; 
}

nav a:link
{
    background-color: var(--main-accent-color);
    color: var(--main-color);
    text-decoration: none;
}

nav a:hover
{
    text-decoration: underline;
    color: var(--main-color);
}

nav a 
{
    display: inline-block;
    width: 12em;
    
}

h1
{
    text-transform: uppercase;
    text-align: center;
    font-size: 3.25vw; 
}

img
{
    max-width: 100%;
    border-radius: 2em;
}

figure
{
    width: 35em;
    border-radius: 2em;
    border: thin solid var(--main-color);
    background-color: white;
}

.president
{
  width: 20em;
}

figcaption
{
    text-align: center;
    color: var(--main-color);
}

legend
{
    text-align: center;
}

.flexbox-layout
{
    display: flex;
    flex-direction: row;
    padding: 2%;
}

.article
{
    flex: 0 1 50%;
}

fieldset{
    background-color: linen;
}


.deletebutton{
  font-size: large;
  color: red;
}

li{
  line-height: 2;
}

li:nth-child(odd){
  background-color: #ddd;
}

.pets{
  line-height: 2;
}

.petimage{
  line-height: 1;
  max-width: 18em;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}
  
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
/* the following css has been modified from w3schools dropdown button source as listed on my site map */
.dropdown {
  overflow: hidden;
  float: right;
  background-color: var(--main-accent-color);
}

.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
  }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;    
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 1em;
  text-decoration: none;
  display: block;
  text-align: left;
}
  
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}